
.contactitem {
  position: relative;
  margin-bottom: 8px;
  width: 100%;
  justify-content: left;
}

.deletebutton {
  position: absolute;
  right: 0px;
  border: 1px solid;
  border-radius: 3px;
  box-shadow: none;

  &:hover,
  &:focus {
    background-color: rgb(64, 199, 236);
  }
}


